@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 20px;
}

body {
	@apply flex flex-col items-center justify-between min-h-screen w-full;
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	background-size: cover;
}

a {
	@apply text-blue-400 hover:text-blue-600 delay-100;
}

header {
	@apply w-full text-2xl text-center p-1;
	background-color: var(--header-background-color);
	color: var(--header-text-color)
}

main {
	@apply w-full grow flex flex-col max-h-full items-center p-4;
}

#calendar-name-header {
	@apply text-2xl;
}

#current-time {
	@apply text-xl mb-2;
}

#calendar-selection {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

#calendar {
	@apply grow w-full text-center rounded-lg;
}

#calendar .event-day {
	@apply w-full;
}

#calendar .event-day-header {
	@apply text-lg mt-4 text-left pl-0.5;
}

#calendar .cal-event:first-of-type {
	@apply rounded-t-lg;
}

#calendar .cal-event:last-of-type {
	@apply rounded-b-lg;
}

#calendar .cal-event {
	@apply flex items-center p-2 border border-current border-opacity-0;
	background-color: var(--event-background-color);
	color: var(--event-text-color)
}

#calendar .cal-times {
	@apply w-44 min-w-max mr-2 pr-2 flex justify-between items-center border-r-2 border-current;
}

#calendar .cal-info,
#calendar .cal-summary {
	@apply text-left;
	max-width: 31rem;
	/* will make [...] at the end */
	text-overflow: ellipsis;
	/* paragraph to one line */
	white-space: nowrap;
	/* older browsers */
	overflow: hidden;
}

#calendar .cal-start {
	@apply text-xl;
}

#calendar .cal-end {
	@apply text-xl;
}

#event-header {
	@apply text-3xl;
}

#weather {
	@apply absolute w-full -bottom-0 h-40 grid grid-cols-7 border-current border-t rounded-t-lg;
}

#weather .weather-group {
	@apply border-current border-l border-r;
}

/* Table Styling */
table {
	@apply bg-gray-100 dark:bg-gray-900;
}

table,
th,
td {
	@apply border border-current;
}