@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 20px;
}

body {
	@apply flex flex-col items-center justify-between min-h-screen w-full;
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	background-size: cover;
}

a {
	@apply text-blue-400 hover:text-blue-600 delay-100;
}

header {
	@apply w-full text-2xl text-center p-1;
	background-color: var(--header-background-color);
	color: var(--header-text-color);
}

main {
	@apply w-full grow flex flex-col max-h-full items-center p-4;
}

iframe.horizontal-split {
	@apply w-full grow flex flex-col max-h-full items-center m-0.5 border border-current rounded-md;
}

#calendar-header {
	@apply w-full text-left rounded-lg flex items-center p-1 border border-current;
	background-color: var(--calendar-header-background-color);
	color: var(--calendar-header-text-color);
}

#calendar-header>#calendar-header-text {
	@apply text-center;
	width: 100%;
}

#calendar-header>#calendar-header-text>#calendar-name-header {
	@apply text-2xl font-bold;
}

#calendar-header>#calendar-header-logo {
	@apply w-24 h-full;
}

#current-time {
	@apply text-lg mb-2 italic;
}

#calendar-selection {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

#calendar {
	@apply grow w-full text-center rounded-lg;
}

#calendar .event-day {
	@apply w-full;
}

#calendar .event-day-header {
	@apply text-lg mt-4 text-left w-1/2 rounded-t-lg font-semibold p-1;
	background-color: var(--event-day-background-color);
	color: var(--event-day-text-color);
}

#calendar .cal-event:first-of-type {
	@apply rounded-tr-lg;
}

#calendar .cal-event:last-of-type {
	@apply rounded-b-lg;
}

#calendar .cal-event {
	@apply flex items-center p-2 border border-current;
	background-color: var(--event-background-color);
	color: var(--event-text-color)
}

#calendar .cal-event.event-past {
	@apply opacity-80;
}

#calendar .cal-event.event-current {
	@apply font-bold;
}

#calendar .cal-times {
	@apply w-44 min-w-max mr-2 pr-2 flex justify-between items-center border-r-2 border-current;
}

#calendar .cal-info,
#calendar .cal-summary {
	@apply text-left;
	max-width: 31rem;
	/* will make [...] at the end */
	text-overflow: ellipsis;
	/* paragraph to one line */
	white-space: nowrap;
	/* older browsers */
	overflow: hidden;
}

#calendar .cal-start {
	@apply text-xl;
}

#calendar .cal-end {
	@apply text-xl;
}

#event-header {
	@apply text-3xl;
}

#weather {
	@apply fixed w-full -bottom-0 grid grid-cols-7 border-current border-t rounded-t-lg;
	height: fit-content;
}

#weather .weather-group {
	@apply border border-current;
	display: flex;
	flex-direction: column;
}

#weather .weather-group h5 {
	width: 100%;
	text-align: center;
}

#weather .weather-group .weather-information {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 0.75rem;
	line-height: 1rem;
}

#weather .weather-group .weather-information>* {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#weather .weather-group img {
	height: 1rem;
	width: 1rem;
}

#weather .weather-period {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: .5rem;
}

#weather .weather-day {
	background-color: var(--weather-day-background-color);
	color: var(--weather-day-text-color);
}

#weather .weather-night {
	background-color: var(--weather-night-background-color);
	color: var(--weather-night-text-color);
}

/* Table Styling */
table {
	@apply bg-gray-100 dark:bg-gray-900;
}

table,
th,
td {
	@apply border border-current;
}